

h1 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: green;
	
}

h2 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-style: oblique;
	
}

p {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-style: bold;
	
	
}


a:hover {
	color: blue;
	background: red;
}

#grayback {
	border-style: groove;
	text-align: center;
	background-color: grey;
	border-color: green;
	border-width: 10px;
}


.border {
    border: dotted 6px green;
	text-align: center;
}